<header class="header">
  <div class="container header__container">
    <a href="./#vanta-canvas" class="logo">
      <span class="logo__icon"></span>
      <span class="logo__text">Miron<span class="accent">-Beam</span></span>
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li><a href="./#vanta-canvas" class="nav__link">Главная</a></li>
        <li><a href="./#about" class="nav__link">О платформе</a></li>
        <li><a href="./#features" class="nav__link">Возможности</a></li>
        <li><a href="./#innovation" class="nav__link">Инновации</a></li>
        <li><a href="./#education" class="nav__link">Обучение</a></li>
      </ul>
    </nav>

    <a href="./#contact" class="btn btn--outline header__btn">Связаться</a>

    <button class="burger" aria-label="Menu">
      <span></span>
    </button>
  </div>
</header>
<div class="mobile-menu" id="mobile-menu">
  <div class="mobile-menu__inner">
      <ul class="mobile-menu__list">
          <li><a href="./#vanta-canvas" class="mobile-menu__link">Главная</a></li>
          <li><a href="./#about" class="mobile-menu__link">О платформе</a></li>
          <li><a href="./#features" class="mobile-menu__link">Возможности</a></li>
          <li><a href="./#innovation" class="mobile-menu__link">Инновации</a></li>
          <li><a href="./#education" class="mobile-menu__link">Обучение</a></li>
          <li><a href="./#contact" class="btn btn--primary">Связаться</a></li>
      </ul>
  </div>
</div>